Repository pyth-network/pythnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: package-lock.json
  # Hook to format many type of files in the repo
  # including solidity contracts.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@2.7.1"
          - "prettier-plugin-solidity@1.0.0-rc.1"
  - repo: local
    hooks:
      # Hooks for the solana-pyth
      - id: cargo-fmt-solana-pyth
        name: Cargo format for solana-pyth
        language: "rust"
        entry: cargo +nightly fmt --manifest-path ./pyth/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: pyth
      - id: cargo-clippy-solana-pyth
        name: Cargo clippy for solana-pyth
        language: "rust"
        entry: cargo +nightly clippy --manifest-path ./pyth/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
        pass_filenames: false
        files: pyth
      # Hooks for the solana-runtime
      - id: cargo-fmt-solana-runtime
        name: Cargo format for solana-runtime
        language: "rust"
        entry: cargo +nightly fmt --manifest-path ./runtime/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: runtime
      - id: cargo-clippy-solana-runtime
        name: Cargo clippy for solana-runtime
        language: "rust"
        entry: cargo +nightly clippy --manifest-path ./runtime/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
        pass_filenames: false
        files: runtime
      # Hooks for the solana-sdk
      - id: cargo-fmt-solana-sdk
        name: Cargo format for solana-sdk
        language: "rust"
        entry: cargo +nightly fmt --manifest-path ./sdk/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: sdk
      - id: cargo-clippy-solana-sdk
        name: Cargo clippy for solana-sdk
        language: "rust"
        entry: cargo +nightly clippy --manifest-path ./sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
        pass_filenames: false
        files: sdk
      # Hooks for solana-program
      - id: cargo-fmt-solana-program
        name: Cargo format for solana-program
        language: "rust"
        entry: cargo +nightly fmt --manifest-path ./sdk/program/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: sdk/program
      - id: cargo-clippy-solana-sdk
        name: Cargo clippy for solana-sdk
        language: "rust"
        entry: cargo +nightly clippy --manifest-path ./sdk/program/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
        pass_filenames: false
        files: sdk/program

fixup! pyth: introduce pyth accumulator library
  runtime/src/bank.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

pyth: introduce the Pythnet genesis patch
  genesis/src/main.rs
  runtime/src/genesis_utils.rs
  sdk/src/feature_set.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk

chore: add Dockerfile
  .github/workflows/release-pythnet-image.yml
  .github/workflows/update-pythnet-node.yml
  Dockerfile
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth

fixup! pyth: introduce pyth accumulator library
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk

pythnet: patched
  Cargo.lock
  Cargo.toml
  core/src/validator.rs
  genesis/src/main.rs
  ledger/src/blockstore.rs
  runtime/Cargo.toml
  runtime/src/bank.rs
  runtime/src/bank/metrics.rs
  runtime/src/bank/tests.rs
  runtime/src/genesis_utils.rs
  sdk/program/src/borsh.rs
  sdk/program/src/borsh0_10.rs
  sdk/program/src/borsh0_9.rs
  sdk/src/feature_set.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

pythnet: patched
  Cargo.lock
  Cargo.toml
  core/src/validator.rs
  genesis/src/main.rs
  ledger/src/blockstore.rs
  runtime/Cargo.toml
  runtime/src/bank.rs
  runtime/src/genesis_utils.rs
  sdk/Cargo.toml
  sdk/program/src/borsh.rs
  sdk/src/feature_set.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

chore: rekey features
  sdk/src/feature_set.rs
  shell.nix
Due: cargo-fmt-solana-sdk, cargo-clippy-solana-sdk

chore: port pythnet features
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk

feat: affix d to the end of debug vers
  shell.nix
  version/src/lib.rs
Due: none

fix: only modify version src
  version/src/lib.rs
Due: none

fix: revert move accumulator to end of block
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk

redo: move accumulator to end of block
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk

fix: update genesis to match current state
  genesis/src/main.rs
  sdk/src/feature_set.rs
Due: cargo-fmt-solana-sdk, cargo-clippy-solana-sdk

feat: skip message buffer aggregation if all price feeds use v2 aggregation
  runtime/src/bank/pyth_accumulator.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime
