Repository pyth-network/pythnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

cargo-fmt-solana-pyth:
  name: Cargo format for solana-pyth
  language: rust
  entry: cargo +nightly fmt --manifest-path ./pyth/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-pyth:
  name: Cargo clippy for solana-pyth
  language: rust
  entry: cargo +nightly clippy --manifest-path ./pyth/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-runtime:
  name: Cargo format for solana-runtime
  language: rust
  entry: cargo +nightly fmt --manifest-path ./runtime/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-runtime:
  name: Cargo clippy for solana-runtime
  language: rust
  entry: cargo +nightly clippy --manifest-path ./runtime/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-sdk:
  name: Cargo format for solana-sdk
  language: rust
  entry: cargo +nightly fmt --manifest-path ./sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-sdk:
  name: Cargo clippy for solana-sdk
  language: rust
  entry: cargo +nightly clippy --manifest-path ./sdk/program/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-program:
  name: Cargo format for solana-program
  language: rust
  entry: cargo +nightly fmt --manifest-path ./sdk/program/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

chore: typo fix
  .pre-commit-config.yaml
Due: none

feat: update measurement log resolution to microseconds
  runtime/src/bank.rs
  sdk/src/pyth.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk

feat: address PR comments
  Cargo.lock
  pyth/Cargo.toml
  pyth/PYTH_README.md
  pyth/src/accumulators.rs
  pyth/src/accumulators/merkle.rs
  pyth/src/accumulators/mul.rs
  pyth/src/lib.rs
  runtime/src/bank.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

chore: clean-up to address PR comments
  pyth/README.md
  pyth/accumulator-api/src/main.rs
  pyth/src/hashers.rs
  pyth/src/hashers/keccak256.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth

refactor: reanme pyth/README.md to NOTES.md
  pyth/NOTES.md
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth

geyser: add PythNet geyser watcher
  Cargo.toml
  geyser/.gitignore
  geyser/Cargo.lock
  geyser/Cargo.toml
  geyser/shell.nix
  geyser/src/lib.rs
Due: none

style(accumulator-sysvar): add rustfmt for pyth crate, limit pre-commit fmts to local packages
  .pre-commit-config.yaml
  pyth/Cargo.toml
  pyth/NOTES.md
  pyth/rustfmt.toml
  pyth/src/accumulators/merkle.rs
  pyth/src/accumulators/mul.rs
  pyth/src/hashers/keccak256.rs
  pyth/src/hashers/prime.rs
  pyth/src/lib.rs
  pyth/src/pyth.rs
  pyth/src/wormhole.rs
  runtime/src/bank.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

pyth: add pythnet validator management workflow
  .github/workflows/update-pythnet-node.yml
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth

pyth: add feature for accumulator sysvar
  sdk/src/feature_set.rs
Due: cargo-fmt-solana-sdk, cargo-clippy-solana-sdk

pyth: add geyser watcher for hermes
  Cargo.toml
  geyser/.gitignore
  geyser/Cargo.lock
  geyser/Cargo.toml
  geyser/shell.nix
  geyser/src/lib.rs
Due: none

pyth: shell.nix for easy development
  shell.nix
Due: none

pyth: introduce pyth accumulator library
  Cargo.lock
  Cargo.toml
  program-runtime/src/sysvar_cache.rs
  pyth/Cargo.toml
  pyth/rustfmt.toml
  pyth/src/accumulators.rs
  pyth/src/accumulators/merkle.rs
  pyth/src/accumulators/mul.rs
  pyth/src/hashers.rs
  pyth/src/hashers/keccak256.rs
  pyth/src/hashers/prime.rs
  pyth/src/lib.rs
  pyth/src/payload.rs
  pyth/src/wormhole.rs
  runtime/Cargo.toml
  runtime/src/bank.rs
  sdk/program/Cargo.toml
  sdk/program/src/borsh.rs
  sdk/program/src/lib.rs
  sdk/program/src/sysvar/accumulator.rs
  sdk/program/src/sysvar/mod.rs
  sdk/src/feature_set.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

fixup! pyth: add geyser watcher for hermes
  Cargo.toml
  geyser/Cargo.lock
  geyser/Cargo.toml
  geyser/src/lib.rs
Due: none

fixup! pyth: introduce pyth accumulator library
  Cargo.lock
  pyth/Cargo.toml
  pyth/src/accumulators/merkle.rs
  pyth/src/hashers/keccak256.rs
  pyth/src/hashers/keccak256_160.rs
  runtime/src/bank.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

pyth: add documentation and tooling
  pyth/Makefile
  pyth/README.md
  pyth/pyth-geyser.json
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth

fixup! pyth: introduce pyth accumulator library
  runtime/src/bank.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

bank: use little endian, buffer end offset, merkle: with_capacity -> vec![]
  pyth/src/accumulators/merkle.rs
  runtime/src/bank.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

fixup! pyth: introduce pyth accumulator library
  pyth/examples/generate_pyth_data.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth

fixup! pyth: add geyser watcher for hermes
  geyser/src/lib.rs
Due: none

fixup! pyth: introduce pyth accumulator library
  pyth/src/accumulators/merkle.rs
  runtime/src/bank.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

fixup! pyth: introduce pyth accumulator library
  pyth/src/accumulators/merkle.rs
  pyth/src/hashers.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth

fixup! pyth: introduce pyth accumulator library
  Cargo.lock
  pyth/Cargo.toml
  pyth/src/accumulators/merkle.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth

Path conditions:
  cargo-fmt-solana-pyth: any of: pyth
  cargo-clippy-solana-pyth: any of: pyth
  cargo-fmt-solana-runtime: any of: runtime
  cargo-clippy-solana-runtime: any of: runtime
  cargo-fmt-solana-sdk: any of: sdk
  cargo-clippy-solana-sdk: (any of: sdk) or (any of: sdk/program)
  cargo-fmt-solana-program: any of: sdk/program
