Repository pyth-network/pythnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

cargo-fmt-solana-pyth:
  name: Cargo format for solana-pyth
  language: rust
  entry: cargo +nightly fmt --manifest-path ./pyth/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-pyth:
  name: Cargo clippy for solana-pyth
  language: rust
  entry: cargo +nightly clippy --manifest-path ./pyth/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-runtime:
  name: Cargo format for solana-runtime
  language: rust
  entry: cargo +nightly fmt --manifest-path ./runtime/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-runtime:
  name: Cargo clippy for solana-runtime
  language: rust
  entry: cargo +nightly clippy --manifest-path ./runtime/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-sdk:
  name: Cargo format for solana-sdk
  language: rust
  entry: cargo +nightly fmt --manifest-path ./sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-sdk:
  name: Cargo clippy for solana-sdk
  language: rust
  entry: cargo +nightly clippy --manifest-path ./sdk/program/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-program:
  name: Cargo format for solana-program
  language: rust
  entry: cargo +nightly fmt --manifest-path ./sdk/program/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

feat: accumulator v2 (wip 1)
  runtime/src/bank.rs
  runtime/src/bank/pyth_accumulator.rs
  sdk/program/src/account_info.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

test: bring back old pyth tests (wip)
  runtime/src/bank.rs
  runtime/src/bank/pyth_accumulator_tests.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

chore: fix some warnings and fix validator build
  Cargo.lock
  core/src/validator.rs
  ledger/src/blockstore.rs
  runtime/src/bank.rs
  runtime/src/bank/pyth_accumulator.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

chore: clean up comments
  runtime/src/bank/pyth_accumulator_tests.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

test: add initial v2 tests to validator
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/bank/pyth_accumulator_tests.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

test: add extra check
  runtime/src/bank/pyth_accumulator_tests.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

refactor: clean up and avoid extra vector
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/bank/pyth_accumulator.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

test: fix and expand accumulator-v2 tests
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/bank/pyth_accumulator.rs
  runtime/src/bank/pyth_accumulator_tests.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

feat: accumulator v2 (wip 3)
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/bank/pyth_accumulator.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

chore: fix clippy and fmt
  core/src/validator.rs
  runtime/src/bank/pyth_accumulator.rs
  runtime/src/bank/pyth_accumulator_tests.rs
  runtime/src/genesis_utils.rs
  transaction-status/src/option_serializer.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

refactor: unify env var handling
  runtime/src/bank/pyth_accumulator.rs
  runtime/src/bank/pyth_accumulator_tests.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

chore: update dependency
  Cargo.lock
  runtime/Cargo.toml
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

chore: fix build for stable Rust by ignoring lints
  programs/bpf_loader/src/syscalls/cpi.rs
  runtime/src/append_vec.rs
  sdk/program/src/account_info.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

feat: accumulator v2 (wip 2)
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/bank.rs
  runtime/src/bank/pyth_accumulator.rs
  sdk/program/src/account_info.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

fix: don't aggregate if already aggregated in the program
  Cargo.lock
  runtime/src/bank/pyth_accumulator.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

feat: combine v1 and v2 aggregation price feed messages in the merkle tree
  runtime/src/bank/pyth_accumulator.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

test: fix old pyth tests
  Cargo.lock
  runtime/src/bank/pyth_accumulator.rs
  runtime/src/bank/pyth_accumulator_tests.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

chore: bump oracle
  Cargo.lock
  runtime/Cargo.toml
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

feat: add more traces for accumulator
  runtime/src/bank.rs
  runtime/src/bank/pyth_accumulator.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

fix: load program accounts by index
  runtime/src/bank/pyth_accumulator.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

feat: add checks to make sure indexes are set
  runtime/src/bank/pyth_accumulator.rs
  runtime/src/bank/pyth_accumulator_tests.rs
  validator/src/main.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

fix: change assert to assert!
  validator/src/main.rs
Due: none

fix: use sed instead of gsed
  scripts/increment-cargo-version.sh
Due: none

feat: add readme
  README.md
Due: none

feat: batch publish
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/bank.rs
  runtime/src/bank/pyth_accumulator.rs
  runtime/src/bank/pyth_accumulator_tests.rs
  runtime/src/bank/pyth_batch_publish.rs
  validator/src/main.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

chore: add CI 10
  .github/workflows/pyth.yml
  runtime/src/bank/pyth_accumulator.rs
  runtime/src/bank/pyth_accumulator_tests.rs
  validator/src/main.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

feat: batch publish 2 (wip)
  Cargo.lock
  runtime/src/bank/pyth_accumulator.rs
  runtime/src/bank/pyth_accumulator_tests.rs
  runtime/src/bank/pyth_batch_publish.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

feat: verify that price feed index is set
  .github/workflows/pyth.yml
  Cargo.lock
  runtime/src/bank/pyth_batch_publish.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

refactor: add pyth module
  core/src/validator.rs
  runtime/src/bank.rs
  runtime/src/bank/pyth/accumulator.rs
  runtime/src/bank/pyth/batch_publish.rs
  runtime/src/bank/pyth/mod.rs
  runtime/src/bank/pyth/tests/accumulator_tests.rs
  runtime/src/bank/pyth/tests/batch_publish_tests.rs
  runtime/src/bank/pyth/tests/mod.rs
  validator/src/main.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

feat: integrate pyth-price-publisher
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/bank/pyth/accumulator.rs
  runtime/src/bank/pyth/batch_publish.rs
  runtime/src/bank/pyth/tests/batch_publish_tests.rs
  validator/src/main.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

refactor: rename and move get_accumulator_keys
  core/src/validator.rs
  runtime/src/bank/pyth/accumulator.rs
  runtime/src/bank/pyth/mod.rs
  runtime/src/bank/pyth/tests/accumulator_tests.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

test: make sure batch publish does not apply prices when price_index == 0
  runtime/src/bank/pyth/accumulator.rs
  runtime/src/bank/pyth/tests/batch_publish_tests.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

chore: fix format
  runtime/src/bank/pyth/mod.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

fix: update deps
  Cargo.lock
  runtime/Cargo.toml
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

test: modify batch publish tests
  Cargo.lock
  runtime/src/bank/pyth/batch_publish.rs
  runtime/src/bank/pyth/tests/batch_publish_tests.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

chore: use real batch publish pid as default
  runtime/src/bank/pyth/accumulator.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

Path conditions:
  cargo-fmt-solana-pyth: any of: pyth
  cargo-clippy-solana-pyth: any of: pyth
  cargo-fmt-solana-runtime: any of: runtime
  cargo-clippy-solana-runtime: any of: runtime
  cargo-fmt-solana-sdk: any of: sdk
  cargo-clippy-solana-sdk: (any of: sdk) or (any of: sdk/program)
  cargo-fmt-solana-program: any of: sdk/program
