Repository pyth-network/pythnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

cargo-fmt-solana-pyth:
  name: Cargo format for solana-pyth
  language: rust
  entry: cargo +nightly fmt --manifest-path ./pyth/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-pyth:
  name: Cargo clippy for solana-pyth
  language: rust
  entry: cargo +nightly clippy --manifest-path ./pyth/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-runtime:
  name: Cargo format for solana-runtime
  language: rust
  entry: cargo +nightly fmt --manifest-path ./runtime/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-runtime:
  name: Cargo clippy for solana-runtime
  language: rust
  entry: cargo +nightly clippy --manifest-path ./runtime/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-sdk:
  name: Cargo format for solana-sdk
  language: rust
  entry: cargo +nightly fmt --manifest-path ./sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-sdk:
  name: Cargo clippy for solana-sdk
  language: rust
  entry: cargo +nightly clippy --manifest-path ./sdk/program/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-program:
  name: Cargo format for solana-program
  language: rust
  entry: cargo +nightly fmt --manifest-path ./sdk/program/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

fixup! pyth: introduce pyth accumulator library
  Cargo.lock
  pyth/Cargo.toml
  pyth/src/accumulators/merkle.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth

fixup! pyth: introduce pyth accumulator library
  pyth/examples/generate_pyth_data.rs
  pyth/src/accumulators/merkle.rs
  pyth/src/hashers/keccak256.rs
  pyth/src/hashers/keccak256_160.rs
  pyth/src/hashers/prime.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth

fixup! pyth: introduce pyth accumulator library
  Cargo.lock
  Cargo.toml
  pyth/Cargo.toml
  pyth/Makefile
  pyth/README.md
  pyth/examples/generate_pyth_data.rs
  pyth/pyth-geyser.json
  pyth/rustfmt.toml
  pyth/src/accumulators.rs
  pyth/src/accumulators/merkle.rs
  pyth/src/accumulators/mul.rs
  pyth/src/hashers.rs
  pyth/src/hashers/keccak256.rs
  pyth/src/hashers/keccak256_160.rs
  pyth/src/hashers/prime.rs
  pyth/src/lib.rs
  pyth/src/payload.rs
  pyth/src/wormhole.rs
  runtime/Cargo.toml
  sdk/program/Cargo.toml
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

fixup! pyth: introduce pyth accumulator library
  runtime/src/bank.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

fixup! pyth: introduce pyth accumulator library
  Cargo.lock
  runtime/src/bank.rs
  sdk/program/src/sysvar/accumulator.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

fixup! pyth: introduce pyth accumulator library
  ci/rust-version.sh
Due: none

fixup! pyth: introduce pyth accumulator library
  runtime/src/bank.rs
  sdk/program/src/sysvar/accumulator.rs
  sdk/program/src/sysvar/mod.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

fixup! pyth: introduce pyth accumulator library
  Cargo.lock
  runtime/src/bank.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

fixup! pyth: introduce pyth accumulator library
  Cargo.lock
  Cargo.toml
  runtime/Cargo.toml
  runtime/src/bank.rs
  sdk/program/Cargo.toml
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

fixup! pyth: introduce pyth accumulator library
  runtime/src/bank.rs
  sdk/program/src/sysvar/mod.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

fixup! pyth: introduce pyth accumulator library
  Cargo.lock
  runtime/Cargo.toml
  sdk/program/Cargo.toml
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

fixup! pyth: introduce pyth accumulator library
  core/src/validator.rs
  runtime/src/bank.rs
Due: cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

Path conditions:
  cargo-fmt-solana-pyth: any of: pyth
  cargo-clippy-solana-pyth: any of: pyth
  cargo-fmt-solana-runtime: any of: runtime
  cargo-clippy-solana-runtime: any of: runtime
  cargo-fmt-solana-sdk: any of: sdk
  cargo-clippy-solana-sdk: (any of: sdk) or (any of: sdk/program)
  cargo-fmt-solana-program: any of: sdk/program
