Repository pyth-network/pythnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime, cargo-fmt-solana-sdk, cargo-clippy-solana-sdk, cargo-fmt-solana-program

cargo-fmt-solana-pyth:
  name: Cargo format for solana-pyth
  language: rust
  entry: cargo +nightly fmt --manifest-path ./pyth/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-pyth:
  name: Cargo clippy for solana-pyth
  language: rust
  entry: cargo +nightly clippy --manifest-path ./pyth/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-runtime:
  name: Cargo format for solana-runtime
  language: rust
  entry: cargo +nightly fmt --manifest-path ./runtime/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-runtime:
  name: Cargo clippy for solana-runtime
  language: rust
  entry: cargo +nightly clippy --manifest-path ./runtime/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-sdk:
  name: Cargo format for solana-sdk
  language: rust
  entry: cargo +nightly fmt --manifest-path ./sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-sdk:
  name: Cargo clippy for solana-sdk
  language: rust
  entry: cargo +nightly clippy --manifest-path ./sdk/program/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-program:
  name: Cargo format for solana-program
  language: rust
  entry: cargo +nightly fmt --manifest-path ./sdk/program/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

chore: update pyth-price-store dependency
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/bank/pyth/batch_publish.rs
  runtime/src/bank/pyth/tests/batch_publish_tests.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

chore: rename variable for pyth store pid
  runtime/src/bank/pyth/accumulator.rs
  runtime/src/bank/pyth/batch_publish.rs
  runtime/src/bank/pyth/mod.rs
  runtime/src/bank/pyth/tests/accumulator_tests.rs
  runtime/src/bank/pyth/tests/batch_publish_tests.rs
  runtime/src/bank/pyth/tests/mod.rs
  validator/src/main.rs
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth, cargo-fmt-solana-runtime, cargo-clippy-solana-runtime

added toolchain file
  rust-toolchain.toml
Due: none

fix: reduce refresh vote interval
  core/src/replay_stage.rs
Due: none

fix: pin host in CI to use ubuntu 22.04
  .github/workflows/pyth.yml
Due: cargo-fmt-solana-pyth, cargo-clippy-solana-pyth

Path conditions:
  cargo-fmt-solana-pyth: any of: pyth
  cargo-clippy-solana-pyth: any of: pyth
  cargo-fmt-solana-runtime: any of: runtime
  cargo-clippy-solana-runtime: any of: runtime
  cargo-fmt-solana-sdk: any of: sdk
  cargo-clippy-solana-sdk: (any of: sdk) or (any of: sdk/program)
  cargo-fmt-solana-program: any of: sdk/program
